<article class="post">
  <div class="title">
    <div class="card">
      <a href="" target="_blank">{{title}}</a>

    </div></div>
  <div class="meta">
    Posted by
    {{user.username}}
    |
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>